@media( max-width:650px ) {
	
	#banner div > .text-banner > a{
		display: none;
	}
	#banner div > .text-banner > p{
		width: 100%;
	}
	.passos > .box-passos{
		width: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}
	.passos > .box-passos > a{
		width: 100%;
	}
	.formulario {
		padding: 40px 20px;
		margin-top: 20px;
	}
	.formulario form > label.lb-50{
		width: 100%;
		height: 60px;
	}
	.formulario form > label.lb-100{
		height: 60px;
	}
	.formulario form > label > input, .formulario form > label > select {
	    padding: 0 0px 0 10px;
	    font-size: 14px;
	    font-weight: 600;
	}
	
}